@import "../../styles/base/Base.module.scss";

.CardsContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    margin: 2vw 0;
}

@media #{$mq-small} {
}

@media #{$mq-medium}, print {
    .CardsContainer {
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 7.5vw 4vw 7.5vw;
    }
}

@media #{$mq-large} {
}

@media #{$mq-largest} {
}
